@import "tailwindcss";


@theme {
    --color-black : #000000;
    --color-primary-dark-bg : #2C0051;
}


.chatScrollbar::-webkit-scrollbar{
    width: 7px;
}
.chatScrollbar::-webkit-scrollbar-track{
    background: transparent;
}
.chatScrollbar::-webkit-scrollbar-thumb{
    background: #313030;
    border-radius: 100px;
}